@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color--1: #9690c0;
    --color--2: #678cb0;
    --color--3--fondonav: #2088b0;
    --color--4: #008290;
    --color--5: #007970;
    --color--6: #006e50;
    --color--7--review: #678cb083;
}
@font-face {
    font-family: "h1";
    src: url("../../ASSETS/FUENTES/Catfiles.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    text-decoration: none;
    transition: transform ease-out 0.2s;
    color: #000;
}
.logo:hover {
    transform: scale(1.1);
}

nav {
    background: linear-gradient(to bottom, var(--color--1), transparent 90%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}
.nav {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: 700;
}
.nav-links:hover {
    color: #fff;
}
h1 {
    font-family: "h1";
    font-size: 30px;
}
#serviciosbody {
    color: #fff;
    font-size: 80px;
    text-shadow: #006e50 solid;
    text-align: center;
    width: 100%;
    background-color: var(--color--4);
}

h3 {
    width: 100vw;
    height: 20vh;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-top: 0px;
}
/*formulario*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(135deg, var(--color--4), #fff);
}
.formulario-container {
    width: 50vh;
    border: 1px solid #1f1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px #1f1f1f10;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}

.formulario-container input {
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid #1f1f1f1f;
    width: 100%;
}
/* footer {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    bottom: 0;
    width: 100%;
} */
.contenedor-foot {
    background: linear-gradient(to top, var(--color--1), transparent 95%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 25px;
}
.redes-sociales {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
